body {
    background: url('https://sundragon.se/rr.jpeg') !important;
}

* {
    background: transparent !important;
    color: black;
}

#rickroll {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    color: yellow;
    background: black !important;
    border: dashed 5px red;
    opacity: 1;
    z-index: 1;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
}

#rickroll * {
    color: yellow;
}

#norickroll {
    color: red;
    float: right;
    cursor: pointer;
}

#norickroll * {
    color: red;
}
